<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rms.backend.mapper.LogInfoMapper">

    <resultMap id="BaseResultMap" type="com.rms.backend.entity.LogInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="timeConsuming" column="time_consuming" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,ip,
        params,url,description,
        create_time,model,time_consuming
    </sql>
</mapper>
